@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0;
}
.container{
  width: 100%;
  /* padding-left: 10vh;
  padding-right: 10vh; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  /* border-color: blue;
  border-style: dotted; */
}
.sticky{
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}
