@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edebebfe;
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed6009;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin:0;
}
.container{
  width: 100%;
  /* padding-left: 10vh;
  padding-right: 10vh; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  /* border-color: blue;
  border-style: dotted; */
}
.sticky{
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}
